.card_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_item {
    position: relative;
    width: 272px;
    height: 208px;   
    
}

.link {
    text-decoration: none;
    color: var(--text-primary-color);
    text-align: center;
}