.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 37.5%;
    top: 29.5%;
    width: 480px;
    background: var(--background-alt);
}

.link {
    composes: text_type_main-default from global;
    color: blue;
    cursor: pointer;
}

.input_box {
    display: flex;
    flex-direction: column;
}

.form_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}