.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 720px;
    top: 228px;
    width: 480px;
    background: var(--background-alt);
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 340px;
    top: 228px;
    width: 320px;
    background: var(--background-alt);
}

.navigation span {
    height: 64px;
    display: flex;
    align-items: center;
}

.navigation_main {
    display: flex;
    flex-direction: column;
    
}

.navigation_box {
    height: 48px;
    composes: text_type_main-default from global;
    
    color: #8585AD;
}

.active {
    text-decoration: none;
    composes: text_color_primary from global;
}

.inactive {
    text-decoration: none;
    composes: text_color_inactive from global;
}

.link {
    composes: text_type_main-default from global;
    color: blue;
    cursor: pointer;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.input_box {
    display: flex;
    flex-direction: column;
}