.constructor_element {
    border-radius: var(--common-border-radius-s);
    background: var(--background-element);
    max-width: 536px;
    width: 100%;
    min-height: 80px;
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    flex-grow: 1;
    box-sizing: border-box;
    border: 1px solid red;
}

.constructor_element_top {
    composes: constructor_element;
    display: flex;
    justify-content: center;
    border-radius: var(--top-constructor-item-border-radius);
}

.constructor_element_bottom {
    composes: constructor_element;
    display: flex;
    justify-content: center;
    border-radius: var(--bottom-constructor-item-border-radius);
}

.constructor_element_body {
    composes: constructor_element;
    display: flex;
    justify-content: center;
    height: 464px;
}

.constructor_element_row {
    display: flex;
    align-items: center;
}

.constructor_element_text {
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    line-height: 24px;
    text-align: left;
    flex-grow: 1;
}
