.scroll_area {
    height: 464px;
    width: 600px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    gap: 16px;
}

.content_container {
    width: 576px;
    padding-right: 16px;
    display: grid;
    grid-template-columns: 0.1fr 1fr;

}

.scroll_area_svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buns {
    padding-left: 48px;
    padding-right: 28px;
    
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px 16px;
}

.bg_color {
    background: var(--background);
    border: 1px solid transparent;
}