.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 640px;
    top: 180px;
    width: 720px;
    background: var(--background-alt);
    z-index: 3;
    border-radius: 40px;
}

.modal_head {
    width: 640px;
    height: 64px;
    margin-top: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
