.ingredient_details_modal {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredient_details {
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 480px;
    height: 240px
}

.data {
    display: flex;
    column-gap: 20px;
}

.data_item {
    width: 120px;
    height: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    composes: text_color_inactive from global
}

.head {
    width: 640px;
    height: 64px;
    margin-top: 190px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}